/* the default gray did not delineate cells well enough */
.table-bordered {
    border: 1px solid black;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid black;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 500;
}

/* per http://stackoverflow.com/questions/18165901/twitters-bootstrap-3-with-sharethis-widget/18241944#18241944 */
#sharethis span {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
