.Poor {
    background-color: #ff0000;
}

.Fair {
    background-color: #ffaa00;
}

.Okay {
    background-color: #d5ff00;
}

.Great {
    background-color: #00ff00;
}

.Missing {
    background-color: white;
}


.daylight-opacity {
    opacity: 1.0;
}

.nighttime-opacity {
    opacity: 0.5;
}


.daylight-day-of-week-header {
    color: black
}

.nighttime-day-of-week-header {
    color: gray
}
