/*http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b*/

.tt-hint {
    color: #999 /* make hint faded compared to current input */
}

.tt-dropdown-menu {
    width: 250px; /* handles longest match: 'Little Rock Air Force Base' */
    margin-top: 8px; /* move the popup down from the input box */
    padding: 8px 0; /* make space at top and bottom of popup */
    background-color: #fff; /* make popup background opaque */
    border: 1px solid #ccc; /* outline the popup */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px; /* scoots popup text to right */
}

.tt-suggestion.tt-cursor {
    color: #fff; /* white selected text */
    background-color: #337AB7; /* make popup selection visible. color from btn-primary */
}

.tt-suggestion p {
    margin: 0; /* keep popup vertically compact */
}
