.Poor {
    background-color: #cc4c02;
}
.Fair {
    background-color: #fe9929;
}
.Okay {
    background-color: #fed98e;
}
.Great {
    background-color: #ffffd4;
}
.Missing {
    background-color: white;
}
