/* http://clrs.cc/ */

.Poor {
    background-color: #ff4136;
}

.Fair {
    background-color: #ff851b;
}

.Okay {
    background-color: #ffdc00;
}

.Great {
    background-color: #2ecc40;
}

.Missing {
    background-color: white;
}
