<html>
<head>
    <title>{% block title %}{% endblock %} - RC Weather App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel='stylesheet' href='{{ url_for('static', filename='hour-rating-colors.css') }}'>
</head>
<body>

<div>Nav: <a href="/">Home</a> {% block navLocation %} {% endblock %} </div>
<hr>
{% block content %}
{% endblock %}

<hr>
<div align=center>Copyright &copy; 2015 Matthew Cornell</div>
Icon credit to <a href="http://erikflowers.github.io/weather-icons/">Weather Icons</a>.
</body>
</html>