<h2>Color key</h2>

<table border="1">
    <thead>
    <tr>
        <th>Color</th>
        <th>Desirability for flying</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td class='Great'></td>
        <td>Great</td>
    </tr>

    <tr>
        <td class='Okay'></td>
        <td>Okay</td>
    </tr>

    <tr>
        <td class='Fair'></td>
        <td>Fair</td>
    </tr>

    <tr>
        <td class='Poor'></td>
        <td>Poor</td>
    </tr>

    <tr>
        <td class='Missing'></td>
        <td colspan=2>No data available</td>
    </tr>

    </tbody>
</table>


<h2>Color calculation</h2>

For details see the documentation on the <a href="/parameters/{{ zip }}">Parameter Editor</a> page.
