<h2>Color key</h2>
<table border="1">
    <thead>
    <tr>
        <th>Color</th>
        <th>Desirability for flying</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td style="background-color:{{ colorKeyHighToLow[0] }};"></td>
        <td>High</td>
    </tr>

    <tr>
        <td style="background-color:{{ colorKeyHighToLow[1] }};"></td>
        <td>Medium-high</td>
    </tr>

    <tr>
        <td style="background-color:{{ colorKeyHighToLow[2] }};"></td>
        <td>Medium-low</td>
    </tr>

    <tr>
        <td style="background-color:{{ colorKeyHighToLow[3] }};"></td>
        <td>Low</td>
    </tr>

    <tr>
        <td style="background-color:white;"></td>
        <td colspan=2>No data available</td>
    </tr>

    </tbody>
</table>

<h2>Color calculation</h2>
Each hour's color is determined by assessing each weather parameter individually (percent of precipitation,
temperature, and wind speed), to get one of three desirability ratings - Low, Medium, and High - based on a simple
equation. Here is a nerdy description of how that's decided, based on ranges. Below that is a more human-friendly
translation:

<pre>
    precip: [0, 10]: High   [11, 30]: Medium  [31, ...]: Low
    temp:   [..., 32]: Low  [33, 41]: Medium  [42, 70]: High  [71, 85]: Medium    [86, ...]: Low
    wind:   [0,  8]: High   [ 9, 12]: Medium  [13, ...]: Low
</pre>

<ul>
    <li><em>Percent of precipitation</em>: If the % is between 0 and 10% (inclusive) then the desirability is High. If the % is
        between 11% and 30% then desirability is Medium, and anything above 31% has a Low desirability.
    </li>
    <li><em>Temperature</em>: Anything up to 32°F has a Low desirability, 33°F to 41°F is Medium, temperatues between 42°F
        and 70°F are considered High desirability, then the desirability goes back down as the temperatures are higher.
    </li>
    <li><em>Wind</em>: Like percent of precipitation, the wind has three ranges, where lower is better.</li>
    
</ul>
