<h2>Color key</h2>

<table border="1">
    <thead>
    <tr>
        <th>Color</th>
        <th>Desirability for flying</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td style="background-color:{{ colorKeyHighToLow[0] }};"></td>
        <td>Great</td>
    </tr>

    <tr>
        <td style="background-color:{{ colorKeyHighToLow[1] }};"></td>
        <td>Okay</td>
    </tr>

    <tr>
        <td style="background-color:{{ colorKeyHighToLow[2] }};"></td>
        <td>Fair</td>
    </tr>

    <tr>
        <td style="background-color:{{ colorKeyHighToLow[3] }};"></td>
        <td>Poor</td>
    </tr>

    <tr>
        <td style="background-color:white;"></td>
        <td colspan=2>No data available</td>
    </tr>

    </tbody>
</table>


<h2>Color calculation</h2>

For details see the documentation on the <a href="/parameters/{{ zip }}">Parameter Editor</a> page.
