<h3>Colors & Icons</h3>

<table class="table table-condensed table-striped">
<tbody>
<tr>
    <td class='Great'>&nbsp;</td>
    <td>Great</td>
</tr>
<tr>
    <td class='Okay'>&nbsp;</td>
    <td>Okay</td>
</tr>
<tr>
    <td class='Fair'>&nbsp;</td>
    <td>Fair</td>
</tr>
<tr>
    <td class='Poor'>&nbsp;</td>
    <td>Poor</td>
</tr>
</tbody>
</table>


<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <td></td>
        <th>Low</th>
        <th>Medium</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Precip</td>
        <td><i class="wi wi-rain"></i></td>
        <td><i class="wi wi-showers"></i></td>
    </tr>
    <tr>
        <td>Temp</td>
        <td><i class="wi wi-thermometer"></i></td>
        <td><i class="wi wi-thermometer-exterior"></i></td>
    </tr>
    <tr>
        <td>Wind</td>
        <td><i class="wi wi-strong-wind"></i></td>
        <td><i class="wi wi-windy"></i></td>
    </tr>
    <tr>
        <td>Clouds</td>
        <td><i class="wi wi-cloudy"></i></td>
        <td><i class="wi wi-cloud"></i></td>
    </tr>
    </tbody>
</table>