<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
    <link rel='stylesheet' href='{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}'>

    <link rel='stylesheet' href='{{ url_for('static', filename='weather-icons-1.2.1/css/weather-icons.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='hour-colors.css') }}'>
</head>
<body>


{% block content %}

    <div class="container">
        <div class="row">

            {% if error %}

                <h4>PeepWeather: Error getting forecast</h4>
                <p>The error message was: <span class="alert-danger">{{ error }}</span></p>

            {% else %}

                <h4>Forecast for {{ forecast.location(includeName=False) }}
                    <small>(<a href="{{ fullUrl }}" target="_blank">PeepWeather.com</a>)</small>
                </h4>
                <div class="col-sm-6">
                    {% set smallTable = True %}
                    {% include "forecast-table.html" %}
                </div>

            {% endif %}

        </div>
    </div>


{% endblock %}


<!-- Bootstrap core JavaScript. Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


<!-- update time -->
<script type="text/javascript">
    document.getElementById('time-id').innerHTML = new Date();
</script>


</body>
</html>