{#<table id="forecast_table" class="table table-bordered" style="table-layout: fixed;">#}
<table id="forecast_table" class="table table-bordered {% if smallTable %} table-condensed {% endif %}" style="table-layout: fixed;">
    <tr>
        {# first column blank for row/hour header #}
        <td></td>
        {% for header in forecast.calendarHeaderRow() %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    {% set hoursAsCalendarRows = forecast.hoursAsCalendarRows() %}
    {% for hourOfDayIndex in range(8, 21) %}
        {% set hourOfDayRow = hoursAsCalendarRows[hourOfDayIndex] %}
        {% set hour0 = hourOfDayRow[0] %}
        {% set rowHeadingColor = 'black' if forecast.isDaylightHour(hour0) else 'gray' %}
        <tr>
            <th style="color:{{ rowHeadingColor }}">{{ forecast.rowHeadingForHour(hourOfDayIndex) }}</th>
            {% for hour in hourOfDayRow %}
                <td class="{{ hour.cssClassForDesirability() }}"
                    title="{{ hour.detailString()[0] }}"
                    data-content="{{ hour.detailString()[1] }}"
                    data-html="true"
                    data-toggle="popover"
                    data-placement="bottom"
                    data-trigger="click hover"
                    data-container="#forecast_table"
                    tabindex="0">
                    {% if not hideIcons %}
                        {% for wiClass in hour.charIconsForParams() %}
                            {% if wiClass %} <i class="wi {{ wiClass }}"></i> {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
