<table id="forecast_table" class="table table-bordered {% if smallTable %} table-condensed small {% endif %}" style="table-layout: fixed;">
    <tr>
        {# first column blank for row/hour header #}
        <td></td>
        {% for header in forecast.calendarHeaderRow() %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    {% set hoursAsCalendarRows = forecast.hoursAsCalendarRows() %}
    {% for hourOfDayIndex in range(8, 21) %}
        {% set hourOfDayRow = hoursAsCalendarRows[hourOfDayIndex] %}
        {% set hour0 = hourOfDayRow[0] %}
        {% set hourHeaderClass = 'daylight-day-of-week-header' if hour0.isDaylight(forecast) else 'nighttime-day-of-week-header' %}
        {% set hourRowOpacityClass = 'daylight-opacity' if hour0.isDaylight(forecast) else 'nighttime-opacity' %}
        <tr>
            <th class="{{ hourHeaderClass }}">{{ forecast.rowHeadingForHour(hourOfDayIndex) }}</th>
            {% for hour in hourOfDayRow %}
                <td class="{{ hour.cssClassForDesirability(forecast.rangeDict) }} {{ hourRowOpacityClass }}"
                    title="{{ hour.detailString(forecast.rangeDict)[0] }}"
                    data-content="{{ hour.detailString(forecast.rangeDict)[1] }}"
                    data-html="true"
                    data-toggle="popover"
                    data-placement="bottom"
                    data-trigger="click hover"
                    data-container="#forecast_table"
                    data-delay="65"
                    tabindex="0">
                    {% if not hideIcons %}
                        {% for wiClass in hour.charIconsForParams(forecast.rangeDict) %}
                            {% if wiClass %} <i class="wi {{ wiClass }}"></i> {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
