{% extends "base.html" %}

{% block content %}

    <h2>Forecast for {{ forecast.name }} - {{ forecast.zipcode }} at {{ time.strftime('%a, %m/%d, %I:%M %p') }}</h2>

    <table style="background-color:black;" border="0" cellspacing="1" cellpadding="8" width="10">
        <tr style="background-color:white;" border="0" cellpadding="8" cellspacing="1" width="10">
            {# first column blank for row/hour header #}
            <td></td>
            {% for header in forecast.calendarHeaderRow() %}
                <th>{{ header }}</th>
            {% endfor %}

        </tr>
        {% for hourOfDayHours in forecast.hoursAsCalendarRows() %}  {# each row is an hour of day #}
            <tr>
                <th style="background-color:white;">{{ loop.index0 }}</th>
                {% for dayOfWeekHour in hourOfDayHours %}           {# each ele/column is a day of week #}
                    <td style="background-color: {{ dayOfWeekHour.color() }};" title="${hour}">
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
