{% extends "base.html" %}

{% set zipOrLatLon = forecast.zipcode if forecast.zipcode else forecast.latLonTruncated() %}

{% block title %}Forecast for {{ zipOrLatLon }} {% if forecast.name %}({{ forecast.name }}){% endif %} {% endblock %}

{% block content %}

    <link rel='stylesheet' href='{{ url_for('static', filename='weather-icons-1.2.1/css/weather-icons.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='hour-colors.css') }}'>

    <div class="container">
        <div class="row">
        
            {% set location = forecast.zipcode + " (" + forecast.name + ")" if forecast.zipcode else forecast.latLonTruncated() %}
        
            <h1>Forecast for {{ zipOrLatLon }} {% if forecast.name %} <small>({{ forecast.name }})</small>{% endif %}</h1>
        
            <table class="table table-condensed table-striped" style="font-family: monospace">
                {% for hour in forecast.hours %}
                    <tr>
                        <td>
                            <span class="{{ hour.cssClassForDesirability() }}">&nbsp;</span> {{ hour }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
