{% extends "base.html" %}

{% set zipOrLatLon = forecast.location.zipcode if forecast.location.zipcode else forecast.location.latLonTruncated() %}

{% block title %}Forecast for {{ zipOrLatLon }} {% if forecast.location.name %}({{ forecast.location.name }}){% endif %} {% endblock %}

{% block content %}

    <link rel='stylesheet' href='{{ url_for('static', filename='weather-icons-1.2.1/css/weather-icons.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='hour-colors.css') }}'>

    <div class="container">
        <div class="row">

            {% set location = forecast.location.zipcode + " (" + forecast.location.name + ")" if forecast.location.zipcode else forecast.location.latLonTruncated() %}

            <h1>Forecast for {{ zipOrLatLon }} {% if forecast.location.name %}
                <small>({{ forecast.location.name }})</small>{% endif %}</h1>

            <table class="table table-condensed table-striped" style="font-family: monospace">
                {% for hour in forecast.source.hours %}
                    <tr>
                        <td>
                            <span class="{{ hour.cssClassForDesirability(forecast.rangeDict) }}">&nbsp;</span> {{ hour }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="row">
            <h2>Debuging tools</h2>

            {% set zipOrLatLon = forecast.location.zipcode or forecast.location.latitude + '|' + forecast.location.longitude %}

            <ul>
                <li><a href="{{ forecast.source.weatherDotGovUrl() }}">Download raw data</a></li>
            </ul>
        </div>

    </div>

{% endblock %}
