{% extends "base.html" %}
{% block title %}Forecast for {{ forecast.name }} - {{ forecast.zipcode }}{% endblock %}
{% block navLocation %} > {{ forecast.zipcode }}{% endblock %}

{% block content %}

    <h2>Forecast for {{ forecast.name }} - {{ forecast.zipcode }} at {{ time.strftime('%a, %m/%d, %I:%M %p') }}</h2>

    <img src="{{ url_for('static', filename='_MG_5049.jpg') }}" style="width:300px;" align="right">

    <table style="background-color:black; font-size: small" border="0" cellspacing="1" cellpadding="8" width="10">
        <tr style="background-color:white;" border="0" cellpadding="8" cellspacing="1" width="10">
            {# first column blank for row/hour header #}
            <td></td>
            {% for header in forecast.calendarHeaderRow() %}
                <th>{{ header }}</th>
            {% endfor %}

        </tr>
        {% for hourOfDayHours in forecast.hoursAsCalendarRows() %}  {# each row is an hour of day #}
            {% if forecast.isDaylightHour(loop.index0) %}
                <tr>
                    <th style="background-color:white;">{{ forecast.rowHeadingForHour(loop.index0) }}</th>
                    {% for dayOfWeekHour in hourOfDayHours %}           {# each ele/column is a day of week #}
                        <td style="background-color: {{ dayOfWeekHour.color() }};" title="{{ dayOfWeekHour.detailString()}}">
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    {% include 'color-key.html' %}

{% endblock %}
