{% extends "base.html" %}
{% block title %}Forecast for {{ forecast.location() }}{% endblock %}
{% block navLocation %} > {{ forecast.location() }}{% endblock %}

{% block content %}

    <link rel='stylesheet' href='{{ url_for('static', filename='weather-icons-1.2.1/css/weather-icons.css') }}'>
    
    {% include 'pallete-select.html' %}

    <h2>Forecast for {{ forecast.location() }} </h2>

    <link rel='stylesheet' href='{{ url_for('static', filename='weather-icons-1.2.1/css/weather-icons.css') }}'>
    <p>
        Time: <span id="time-id"></span><br>
        Links: <a href="https://www.google.com/maps/place/{{ forecast.latLon[0] }},{{ forecast.latLon[1] }}">Google
        Maps</a>,
        <a href="http://forecast.weather.gov/MapClick.php?lat={{ forecast.latLon[0] }}&lon={{ forecast.latLon[1] }}">weather.gov</a>
        <img src="{{ url_for('static', filename='_MG_5049.jpg') }}" style="width:300px;" align="right">
    </p>

    <table style="background-color:black; font-size:medium" border="0" cellspacing="1" cellpadding="8" width="10">
        <tr style="background-color:white;">
            {# first column blank for row/hour header #}
            <td></td>
            {% for header in forecast.calendarHeaderRow() %}
                <th>{{ header }}</th>
            {% endfor %}

        </tr>
        {% for hourOfDayRow in forecast.hoursAsCalendarRows() %}
            {% if forecast.isDaylightHour(loop.index0) %}
                <tr>
                    <th style="background-color:white;">{{ forecast.rowHeadingForHour(loop.index0) }}</th>
                    {% for hour in hourOfDayRow %}
                        <td style="min-width:5em; color: black; font-family: monospace;"
                            class="{{ hour.cssClassForDesirability() }}"
                            title="{{ hour.detailString() }}">
                            {% for wiClass in hour.charIconsForParams() %}
                                {% if wiClass %} <i class="wi {{ wiClass }}"></i> {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <script type="text/javascript">
        document.getElementById('time-id').innerHTML = new Date();
    </script>

    {% include 'color-key.html' %}


    <h2>Debuging tools</h2>

    {% set zipOrLatLon = forecast.zipcode or forecast.latLon[0] + ',' + forecast.latLon[1] %}

    For debugging purposes you can download the raw weather data for this forecast
    <a href="{{ forecast.weatherDotGovUrl() }}">here</a>. To show the hours in a list format, click
    <a href="{{ url_for('showForecast', zipOrLatLon=zipOrLatLon, list=true) }}">here</a>.

{% endblock %}
