{% extends "base.html" %}
{% block title %}Forecast for {{ forecast.location() }}{% endblock %}
{% block navLocation %} > {{ forecast.location() }}{% endblock %}

{% block content %}

    <link rel='stylesheet' href='{{ url_for('static', filename='weather-icons-1.2.1/css/weather-icons.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='hour-colors.css') }}'>

    <div class="container">

        <!-- row 1/3: table on left, keys on right -->
        <div class="row">
            <h1>Forecast for {{ forecast.location() }} </h1>

            <div class="col-md-12 help-block">Time: <span id="time-id"></span></div>

            <!-- col 1/2: colors table! -->
            <div class="col-md-8">
                {% include "forecast-table.html" %}
            </div>

            <!-- col 2/2: keys -->
            <div class="col-md-4">
                {% include "color-icon-key.html" %}
            </div>
        </div>

        <!-- row 2/3: settings link -->
        <div class="row">
            <h2>Customize</h2>

            <p class="help-block">To learn about how colors are chosen and how to customize them:</p>

            <p>
                <a class="btn btn-default" href="{{ url_for('showHowItWorks') }}" role="button">How it works &raquo;</a>
                <a class="btn btn-default" href="{{ url_for('editSettings') }}" role="button">
                    Settings&nbsp;&nbsp;<span class="glyphicon glyphicon-cog"></span></a>
            </p>
        </div>

        <!-- row 3/3 -->
        <div class="row">
            <h2>Debuging tools</h2>

            {% set zipOrLatLon = forecast.zipcode or forecast.latLon[0] + ',' + forecast.latLon[1] %}

            <ul>
                <li><a href="{{ url_for('showForecast', zipOrLatLon=zipOrLatLon, list=true) }}">Show list view</a>
                </li>
                <li><a href="{{ forecast.weatherDotGovUrl() }}">Download raw data</a></li>
            </ul>
        </div>
    </div>


    <!-- todo on document ready -->
    <script type="text/javascript">
        document.getElementById('time-id').innerHTML = new Date();
    </script>


{% endblock %}
