{% extends "base.html" %}
{% block title %}Forecast for {{ forecast.location() }}{% endblock %}
{% block navLocation %} > {{ forecast.location() }}{% endblock %}

{% block content %}

    <link rel='stylesheet' href='{{ url_for('static', filename='weather-icons-1.2.1/css/weather-icons.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static', filename='hour-colors.css') }}'>

    <div class="container">
        <div class="row">
            <h1>Forecast for {{ forecast.location() }} </h1>
            <table class="table table-bordered table-condensed table-striped" style="font-family: monospace">
                {% for hour in forecast.hours %}
                    <tr>
                        <td>
                            <span class="{{ hour.cssClassForDesirability() }}">&nbsp;</span> {{ hour.detailString() }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <!-- todo integrate with bootstrap -->
    {% include 'color-icon-key.html' %}

{% endblock %}
