<h2>Icon Key</h2>

<table border="1">
    <thead>
    <tr>
        <td></td>
        <th>Low Rating</th>
        <th>Medium Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Precip</td>
        <td><i class="wi wi-rain"></i></td>
        <td><i class="wi wi-showers"></i></td>
    </tr>
    <tr>
        <td>Temp</td>
        <td><i class="wi wi-thermometer"></i></td>
        <td><i class="wi wi-thermometer-exterior"></i></td>
    </tr>
    <tr>
        <td>Wind</td>
        <td><i class="wi wi-cloudy-gusts"></i></td>
        <td><i class="wi wi-cloudy-windy"></i></td>
    </tr>
    </tbody>
</table>
