{% extends "base.html" %}

{% block title %}Welcome to the RC Weather App!{% endblock %}

{% block content %}

    <h2>Welcome to the RC Weather App!</h2>

    <p>
        This is a proof-of-concept app that gives an "at a glance" view of the next seven days from the
        perspective of an outdoor <a href="https://en.wikipedia.org/wiki/Radio-controlled_aircraft">radio control
        aircraft</a> enthusiast.
    </p>

    <p>
        <img src="{{ url_for('static', filename='EFLU4380_b0.jpg') }}" style="width:340px;" align="right">
        Because the weather is a major factor, I thought showing a simple color-coded hourly
        forecast would be useful. The table on this site has columns representing days of the week and has rows for
        hours of the day. Each cell is an hour whose color is determined by a simple algorithm that takes into account
        three forecast parameters: probability of precipitation, temperature, and wind speed. The forecast data is
        currently US-only because it comes from the National Digital Forecast Database (NDFD)
        <a href="http://graphical.weather.gov/xml/rest.php">REST Web Service</a>.

    </p>

    <p>Feel free to <a href="http://www.matthewcornell.org/contact/">contact me</a> to ask questions or offer
        constructive comments.
    </p>
    <p>Thanks for visiting! -- matt</p>


    <h2>Get forecast</h2>

    <form method="POST" action="{{ url_for('doZipSubmit') }}">
        <label for="zip-text">Zipcode: </label>
        <input id="zip-text" type="text" name="zip_form_value">

        <input type="submit" value="Go!">
    </form>


    <form method="POST" action="{{ url_for('doLatLonSubmit') }}">
        <label for="lat-text">Latitude: </label>
        <input id="lat-text" type="text" name="lat_form_value">

        <label for="lon-text">Longitude: </label>
        <input id="lon-text" type="text" name="lon_form_value">

        <input type="submit" value="Go!">
    </form>


    <h2>Edit parameters</h2>

    Edit weather parameters (wind, temp, etc.) <a href="{{ url_for('editParameters') }}">here</a>.


    <h2>Search zip codes</h2>

    <form method="POST" action="{{ url_for('doZipSearchSubmit') }}">
        <label for="query-text">Query: </label>
        <input id="query-text" type="text" name="query_form_value">

        <input type="submit" value="Search">
    </form>

    
    <h2>Color calculation</h2>

    For details on how each hour square's color is calcuated, see the documentation on the 
    <a href="/parameters/{{ zip }}">Parameter Editor</a> page.


{% endblock %}