{% extends "base.html" %}

{% block title %}Welcome to the RC Weather App!{% endblock %}

{#{% block javascript %}#}
{##}
{#    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>#}
{#    <script>#}
{#        jQuery(window).ready(function () {#}
{#            jQuery("#init_geo_button").click(initiate_geolocation);#}
{#        });#}
{##}
{#        function initiate_geolocation() {#}
{#            navigator.geolocation.getCurrentPosition(handle_geolocation_query);#}
{#            // TODO: update a status text area#}
{#        }#}
{##}
{#        function handle_geolocation_query(position) {#}
{#            jQuery('#lat-id').val(position.coords.latitude);#}
{#            jQuery('#lon-id').val(position.coords.longitude);#}
{#        }#}
{#    </script>#}
{##}
{#{% endblock %}#}


{% block content %}

    <h2>Welcome to the RC Weather App!</h2>

    <p>
        This is a proof-of-concept app that gives an "at a glance" view of the next seven days from the
        perspective of an outdoor <a href="https://en.wikipedia.org/wiki/Radio-controlled_aircraft">radio control
        aircraft</a> enthusiast.
    </p>

    <p>
        Because the weather is a major factor, I thought showing a simple color-coded hourly
        forecast would be useful. The table on this page has columns representing days of the week and has rows for
        hours of the day. Each cell is an hour whose color is determined by a simple algorithm that takes into account
        three forecast parameters: probability of precipitation, temperature, and wind speed. The <em>Key</em> table
        below shows details. The forecast data is currently US-only because it comes from the National Digital
        Forecast Database (NDFD)
        <a href="http://graphical.weather.gov/xml/rest.php">REST Web Service</a>.
    </p>

    <p> Until it's more fleshed out, you can get started by clicking the sample links in the
        header to demonstrate the two current features: An hourly "at a glance" forecast for a US zip code, and a zip
        code search utility. The results are bookmark friendly.
    </p>

    <p> Feel free to <a href="http://www.matthewcornell.org/contact/">contact me</a> to ask questions or offer
        constructive comments. Thanks for visiting! -- matt
    </p>


    <h2>Get forecast</h2>

{#    <form method="POST" action="{{ url_for('doLatLonSubmit') }}">#}
{#        <label for="lat-id">Latitude: </label>#}
{#        <input id="lat-id" type="text" name="lat_form_value"><br>#}
{#        <label for="lon-id">Longitude: </label>#}
{#        <input id="lon-id" type="text" name="lon_form_value"><br>#}
{#        <button id="init_geo_button">Use my location</button> <input type="submit" value="Go!">#}
{#    </form>#}
{#    <br>#}
    <form method="POST" action="{{ url_for('doZipSubmit') }}">
        <label for="zipcode-id">Zipcode: </label>
        <input id="zipcode-id" type="text" name="zip_form_value">
        <input type="submit" value="Go!">
    </form>

    {% if invalidZipcode %}
        <span style="color: red">Invalid zipcode: {{ invalidZipcode }}</span>
    {% endif %}


    <h2>Search for zip codes</h2>

    <form method="POST" action="{{ url_for('doZipSearchSubmit') }}">
        <label for="query-id">Query: </label>
        <input id="query-id" type="text" name="query_form_value">
        <input type="submit" value="Search">
    </form>

    {% include 'color-key.html' %}

{% endblock %}