{% extends "base.html" %}

{% block title %}Welcome to PeepWeather!{% endblock %}

{% block content %}

    <link href="{{ url_for('static', filename='typeahead.css') }}" rel="stylesheet">

    <!-- upper half: action, screen shot, recent -->
    <div class="container">
        <div class="row">
            <!-- left column: search -->
            <div class="col-md-8">
                <h1>In one glance, see how the outdoors look for the coming week.</h1>

                <!-- geolocation input - enabled if permission given in browser -->
                <div id="latlon_form_id" class="hidden">
                    <form class="form-inline" method="POST" action="{{ url_for('do_location_submit') }}">
                        <label class="h3 text-muted" for="latlon_field">Use your location:&nbsp;</label>
                        <input type="text" id="latlon_field" class="form-control hidden" name="location_form_val">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-crosshairs fa-lg"></i></button>

                    </form>
                    <p class="h4 text-muted"><em>&mdash; OR &mdash;</em></p>

                </div>

                <!-- location (town, zip, lat/lon) input -->
                <h3 class="text-muted">Enter a location:</h3>

                <form class="form-inline" method="POST" action="{{ url_for('do_location_submit') }}">
                    <input type="text" class="form-control typeahead" id="location_field" name="location_form_val"
                           placeholder="town or zip or lat,lon">
                    <button type="submit" class="btn btn-primary">Go!</button>
                </form>
            </div>

            <!-- right column: screen shot, recent searches -->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ url_for('static', filename='screen-shot.png') }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- lower half: info -->
    <div class="container bg-success">
        <div class="row">
            <div class="col-md-4">
                <h2>What is PeepWeather?</h2>

                <p>PeepWeather is a web application that shows a color-coded <code>traffic light</code> view of the
                    weather for the next seven days, hour-by-hour. In one glance you can quickly see how nice it looks
                    outside for the coming week, and plan accordingly.</p>

                <p><a class="btn btn-default" href="{{ url_for('showHowItWorks') }}" role="button">How it
                    works &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Who is it for?</h2>

                <p>Whatever we do outdoors - sports, yard work, hobbies, etc. - we all need to know the weather to
                    decide when it'll be nice for our outside fun. The problem is we're busy, and other forecast sites
                    make us work too hard to figure out what we really care about: a <code>go/no go</code> for each
                    precious hour.</p>
            </div>
            <div class="col-md-4">
                <h2>Why use it?</h2>

                <p>Unlike most weather sites that either provide too little hourly information or way too much,
                    PeepWeather makes it easy for you to tell, in one look, how the week is stacking up.
                    <strong class="text-danger">Lots of red?</strong> Relax indoors. <strong class="text-success">Tons
                        of green? </strong>Enjoy life outside!</p>
            </div>
        </div>

    </div>

{% endblock %}


{% block scripts %}

    <!-- ==== geolocation for filling in location field ==== -->

    <script>
        jQuery(window).ready(function () {
            navigator.geolocation.getCurrentPosition(handle_geolocation_query);
        });

        function handle_geolocation_query(position) {
            var latLon = position.coords.latitude + ',' + position.coords.longitude;
            jQuery("#latlon_field").val(latLon);
            jQuery("#latlon_form_id").attr("class", "show");
        }
    </script>


    <!-- ==== typeahead-based autocompletion for search ==== -->

    <script src="{{ url_for('static', filename='typeahead.bundle.js') }}"></script>

    <script>

        $(document).ready(function () {
            /*
            set up Bloodhound search
            */
            var zipCodeEngine = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,   // unused for remote
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                limit: 10,
                remote: 'place/%QUERY'
            });
            zipCodeEngine.initialize();
            
            /*
            initialize typeahead
            */
            locFieldSelector = $("#location_field");
            
            locFieldSelector.typeahead({
                minLength: 1
            }, {
                name: 'zipcodes',
                displayKey: function (suggestObj) {
                    return suggestObj;
                },
                source: zipCodeEngine.ttAdapter()
            }).on("typeahead:selected", function (jQueryEventObj, suggestObj, datasetName) {
                jQueryEventObj.target.submit();
            });
            
            /*
             remove inserted style information that screws up positioning of field and button. REF:
             http://stackoverflow.com/questions/18059161/css-issue-on-twitter-typeahead-with-bootstrap-3
             http://stackoverflow.com/questions/4036857/jquery-remove-style-added-with-css-function#4036868
             */
            locFieldSelector.css("vertical-align", "");
            {#        $(".twitter-typeahead").removeAttr("style")#}
            {#        $(".twitter-typeahead").css("display", "")#}
            
            /*
            focus on search form
            */
            locFieldSelector.focus();

        });

    </script>


{% endblock %}
