{% extends "base.html" %}
{% block title %}Zipcode search for: {{ query }}{% endblock %}

{% block content %}

    <h2>Zipcode search for: {{ query }}: {{ zipNameLatLonTuples | length }} results</h2>

    <table border="1">
        <thead>
        <tr>
            <th>Zipcode</th>
            <th>Name</th>
            <th>Lat/Lon</th>
        </tr>
        </thead>
        <tbody>
        {% for zip, name, lat, lon in zipNameLatLonTuples %}
            <tr>
                <td><a href="/forecast/{{ zip }}">{{ zip }}</a></td>
                <td>{{ name }}</td>
                <td><a href="https://www.google.com/maps/place/{{ lat }},{{ lon }}">{{ lat }}, {{ lon }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
