{% extends "base.html" %}
{% block title %}Zipcode search for: {{ query }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <h1>Zipcode search for &lsquo;{{ query }}&rsquo; <small>({{ zipNameLatLonTuples | length }} results)</small></h1>

            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Zipcode</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for zip, name, lat, lon in zipNameLatLonTuples %}
                    <tr>
                        <td><a href="{{ url_for('showForecast', zipOrLatLon=zip) }}">{{ zip }}</a></td>
                        <td>{{ name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
