{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1>Customize settings</h1>

            <p>This page lets you view and edit the app's display preferences and weather parameter
                ranges that combine to determine how each hour is rated and how it appears. (Customized settings are
                saved in browser cookies.)</p>

            <hr>
            <h2>Display Preferences</h2>

            <form class="form-group" method="POST" action="{{ url_for('do_edit_display_submit', referrer=request.referrer) }}">
                <p>Controls whether icons are shown in each hour, or if they are simply displayed as colors. The default
                    is to show icons.</p>

                <div class="form-inline">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id='show_icons_id' name="show_icons_value"> Show icons
                        </label>
                    </div>
                    <button name='submit_button' value='Save' class="btn btn-success">Save</button>
                </div>
            </form>

            <hr>
            <h2>Weather Parameters</h2>

            <p>Customizing weather parameter ranges: Percent of precipitation, wind speed, and cloud cover
                are broken into three <code>Low</code>, <code>Medium</code>, and <code>High</code> ranges that are
                identified by two numbers called <code>v1</code> and <code>v2</code> which mark out the
                <code>Medium</code> range. Anything below <code>v1</code> is <code>High</code> desirability and anything
                above <code>v2</code> is <code>Low</code> desirability. Temperature is identified by four numbers,
                <code>v1</code> through <code>v4</code>, that delineate a "hat" shape where anything below
                <code>v1</code> or above <code>v4</code> is <code>Low</code> desirability, <code>v1 to v2</code> and
                <code>v3 to v4</code> are <code>Medium</code>, and <code>v2 to v3</code> is the <code>High</code> sweet
                spot. The edit areas below let you view and change all these values.
            </p>

            <p>For a detailed explanation see:</p>

            <p><a class="btn btn-default" href="{{ url_for('showHowItWorks') }}" role="button">How it works &raquo;</a>
            </p>

            <form class="form-group" method="POST" action="{{ url_for('do_edit_parameters_submit', referrer=request.referrer) }}">
                <div>
                    <h3>Wind</h3>

                    <p class="help-block">The first number is where the rating goes down from <code>High</code> to
                        <code>Medium</code>, and the second down again to <code>Low</code>.</p>

                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='wind_v1_text' name="wind_v1_value"
                                       placeholder="v1">

                                <div class="input-group-addon">MPH</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='wind_v2_text' name="wind_v2_value"
                                       placeholder="v2">

                                <div class="input-group-addon">MPH</div>
                            </div>
                        </div>
                    </div>

                    <h3>Precipitation</h3>

                    <p class="help-block">These two numbers work similarly to Wind.</p>

                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='precip_v1_text' name="precip_v1_value"
                                       placeholder="v1">

                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='precip_v2_text' name="precip_v2_value"
                                       placeholder="v2">

                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>

                    <h3>Clouds</h3>

                    <p class="help-block">Similar to Wind.</p>

                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='cloud_v1_text' name="cloud_v1_value"
                                       placeholder="v1">

                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='cloud_v2_text' name="cloud_v2_value"
                                       placeholder="v2">

                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>

                    <h3>Temperature</h3>

                    <p class="help-block">The first number is where the rating goes up from <code>Low</code> to
                        <code>Medium</code>, the second is from <code>Medium</code> to <code>High</code>, the
                        third is where it goes back down again to <code>Medium</code>, and the last number is down again
                        to <code>Low</code></p>

                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='temp_v1_text' name="temp_v1_value"
                                       placeholder="v1">

                                <div class="input-group-addon">&deg;F</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='temp_v2_text' name="temp_v2_value"
                                       placeholder="v2">

                                <div class="input-group-addon">&deg;F</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='temp_v3_text' name="temp_v3_value"
                                       placeholder="v3">

                                <div class="input-group-addon">&deg;F</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id='temp_v4_text' name="temp_v4_value"
                                       placeholder="v4">

                                <div class="input-group-addon">&deg;F</div>
                            </div>
                        </div>
                    </div>

                </div>

                <p class="h3 text-muted"></p>
                <button name='submit_button' value='Save' class="btn btn-success">Save</button>
                <button name='reset_button' value='Reset to Defaults' class="btn btn-warning">Reset to Defaults</button>
            </form>

        </div>
    </div>

    <!-- populate the range form with current values -->
    <!-- todo 1) jquery, 2) on document ready -->
    <script type="text/javascript">
        function initialize_form_values() {
            document.getElementById('show_icons_id').checked = ! {{ hideIcons }};

            var precipVals = {{ precipVals }};
            var tempVals = {{ tempVals }};
            var windVals = {{ windVals }};
            var cloudVals = {{ cloudVals }};
            document.getElementById('wind_v1_text').value = windVals[0];
            document.getElementById('wind_v2_text').value = windVals[1];
            document.getElementById('precip_v1_text').value = precipVals[0];
            document.getElementById('precip_v2_text').value = precipVals[1];
            document.getElementById('cloud_v1_text').value = cloudVals[0];
            document.getElementById('cloud_v2_text').value = cloudVals[1];
            document.getElementById('temp_v1_text').value = tempVals[0];
            document.getElementById('temp_v2_text').value = tempVals[1];
            document.getElementById('temp_v3_text').value = tempVals[2];
            document.getElementById('temp_v4_text').value = tempVals[3];
        }
        initialize_form_values();
    </script>

{% endblock %}
