{% extends "base.html" %}

{% set zipOrLatLon = forecast.location.zipcode if forecast.location.zipcode else forecast.location.latLonTruncated() %}

{% block title %}Generate Sticker for {{ zipOrLatLon }} {% if forecast.location.name %}({{ forecast.location.name }}) {% endif %} {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
        
            <h1>Generate Sticker for {{ zipOrLatLon }} {% if forecast.location.name %}
                <small>({{ forecast.location.name }})</small>{% endif %}</h1>
            <p>I've cooked up a fun dynamic image for you to put on your homepage. In return, all I ask is that you link
                the image to this site.
            <ol>
                <li>Navigate to this page using the location you want the sticker to show.</li>
                <li>Copy the HTML code shown.</li>
                <li>Paste it into your site's HTML.</li>
            </ol>

            <p>The sticker will automatically display the most up to date current conditions for that location.</p>

            <h2>Preview</h2>
            <p> {% include "sticker-code.html" %} </p>

            <h2>Code</h2>
            <form onsubmit="return false;">
                <div>
                    <p class="help-block">Copy this code to paste into your site's HTML:</p>

                    <div class="form-group">
                        <label for="sticker_code_text"></label>
                        <textarea class="form-control" rows="2" id="sticker_code_text">{{ stickerCode }}</textarea>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
