<span style="display: block !important; width: 126px; text-align: center; font-family: sans-serif; font-size: 12px;">
    <a href="http://127.0.0.1:5000/forecast/77001"
       title="Forecast for Amherst, MA"
       target="_blank">
        <img src="http://127.0.0.1:5000/forecaststicker/77001"
             alt="Find more about Weather in Amherst, MA"
             width="126"/>
    </a>
<br>
    <a href="http://127.0.0.1:5000/forecast/77001"
       title="Get latest Weather Forecast updates"
       style="font-family: sans-serif; font-size: 12px"
       target="_blank">Click for weather forecast</a>
</span>